    a,a:hover{
    	cursor: pointer;
    	text-decoration: none;
    }
    .plus{
    	color:white;
    	content:"-";
		width:1.5em;
		height:1.5em;
		line-height: 1.5;
		position:absolute;
		border:1px solid rgba(0,0,0,.1);
		background-color: #99EA63;
		right:-1.8em;
		bottom:0.5em;
		border-radius:50%;
		box-shadow:0 .2em .2em 0 rgba(0,0,0,.5);
    }
    .minus{
    	color:white;
    	content:"-";
		width:1.5em;
		height:1.5em;
		line-height: 1.5;
		position:absolute;
		border:1px solid rgba(0,0,0,.1);
		background-color: #68ADDF;
		right:0.5em;
		bottom:0.5em;
		border-radius:50%;
		box-shadow:0 .2em .2em 0 rgba(0,0,0,.5);
    }
    .tag{
		height:2.5em;
		display: inline-block;
		padding:0 2.3em 0 0.5em;
		/*background:#69799A linear-gradient(#35A7E9,#69799A);*/
		background: white;
		position: relative;
		text-align:center;
		line-height:2.5;
		border:1px solid gray;
		color:black;
		font-family:"微软雅黑";
		border-radius: .5em;
	}
	/*.tag:after{
		content:"";
		width:0px;
		height:0px;
		position:absolute;
		border-width:1.25em ;
		border-style:solid ;
		right:-2.5em;
		bottom:0px;
		border-color:transparent transparent transparent #69799A;

	}*/
	/*.tag:before{
		content:"-";
		width:1.5em;
		height:1.5em;
		line-height: 1.5;
		position:absolute;
		border-width:1px ;
		border-color:gray;
		background-color: #68ADDF;
		border-style:solid ;
		right:0.2em;
		bottom:0.5em;
		border-radius:50%;
		box-shadow:0 0 1px 0 gray;
	}*/
	.action{
		display:inline-block;
		position:absolute;
		transform:translateX(-50%);
		left:100%;
		z-index:2;
	}