@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-01-20 11:38:48
 * @version $Id$
 */
 .new-year{
	height:800px;
	position: relative;
	background: #A70E11;
 }
 .happy{
 	width:250px;
 	height:200px;
 	position: absolute;
 	margin-top:200px;
 	overflow:hidden;
 }
 .happy .happy-header{
 	position: absolute;
	height:80px;
	width:80px;
	border-radius:50%;
	background: linear-gradient(to top,#AB937C,#B09880,#AA937C);
	z-index:2;
	bottom:60px;
	left:50%;
	transform:translateX(-50%);
	transition:bottom 1s 0.1s;
 }

 .happy .happy-header .happy-eye{
 	height:20px;
 	width:20px;
 	border-radius: 50%;
 	position: absolute;
 	top:20px;
 	left:15px;
 	background: radial-gradient(circle , #F5F5F5 0% , #F5F5F5 55% , #F5F5F5 95%);
 }

.happy .happy-header .right{
	left:45px;
}

.happy .inner-left , .happy .inner-right{
	width:12px;
	height:12px;
	border-radius:50%;
	position:absolute;
	top:2px;
	left:3px;
	transition:top 0.2s , left 0.2s;
	background:radial-gradient(circle , #755854 0% , #755854 55% , #755854 95%);
}

.inner-left::before , .inner-right::before{
	content:'';
	width:3px;
	height:3px;
	border-radius:50%;
	background: white;
	position: absolute;
	top:1px;
	left:2px;
}

.happy-body{
	width:150px;
	height:70px;
	border-radius:50% 50% 0px 0px / 100% 100% 0px 0px ;
	background:radial-gradient(circle , #755854 0% , #755854 55% , #755854 95%);
	position:absolute;
	bottom:0px;
	transition:bottom 1s 0s;
	left:50%;
	transform:translateX(-50%);
}

.happy-mouse{
	position:absolute;
	/*border:1px solid #755854;*/
	height:5px;
	border-radius: 0 0 50% 50% / 0 0 100% 100%; 
	width:25px;
	top:60px;
	left:27.5px;
	background:#755854;
}

.happy-arg{
	width:25px;
	height:100px;
	position: absolute;
	top:-40px;
	/*left:20px;*/
	border-radius:10% 10% 0% 0% / 50% 50% 50% 50%;
	transform:rotate(-25deg);
	background:#755854;
	/*box-shadow: 0 0 5px 0 white;*/
 }

 .arg-right{
 	top:-35px;
 	margin-left:120px;
 	transform:rotate(25deg);
 }

.happy-hand{
	position: absolute;
	top:-9px;
	height:15px;
	width:30px;
	left:-2.5px;
	background: #B09880;
	border-radius:0% 10% 10% 10% / 50% 50% 50% 50%;
	/*box-shadow: 0 8px 0px 0px #B09880;*/
}

.happy-hand .finger{
	position: absolute;
	top:-14px;
	height:15px;
	border-radius:30% 30% 30% 30%/ 30% 30% 10% 10%;
	width:7px;
	background: #B09880;
}

.happy-hand .f-left2 , .happy-hand .f-right2{
	top:-7px;
	left:7px;
}
.happy-hand .f-left3 ,.happy-hand .f-right3{
	top:-7px;
	left:14px;
}
.happy-hand .f-left4 , .happy-hand .f-right4{
	height:20px;
	top:-19px;
	left:21px;
}
.happy-hand .f-left5 {
	height:20px;
	top:-5px;
	left:30px;
	transform:rotate(45deg);
}
.happy-hand .f-right5{
	height:20px;
	top:-5px;
	left:-7px;
	transform:rotate(-45deg);
}
.happy .happy-header , .happy .happy-body{
	position: absolute;
	bottom:-1000px;
}

