@charset "UTF-8";
:root{
	--animation-time:1s;
}
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-01-19 17:52:18
 * @version $Id$
 */
 .animation{
 	display:flex;
 	flex-direction:row;
 	flex-wrap:wrap;
 	justify-content:space-around;
 }
 .loadding{
 	display: inline-block;
 	width:300px;
 	height:300px;
 	border:1px solid #4C8BF5;
 	margin-top:15px;
 }
 /*.load1{
 	transform:translate3d(-50%,-50%,0);
 }*/
.load1 .arc{
	display: inline-block;
	height:30px;
	width:30px;
	border-radius:100%;
	/*border:1px solid rgba(0,0,0,.1);*/
	margin:100px 5px;
	
}

.load1 .arc1{
	background:rgba(53,171,205,1); 
	animation:load1 var(--animation-time) linear 0s infinite alternate;
	margin-left:20px;
}
.load1 .arc2{
	background:rgba(107,174,206,1);
	animation:load1 1s linear 0.1s infinite alternate; 
}
.load1 .arc3{
	background:rgba(161,179,209,1); 
	animation:load1 1s linear 0.2s infinite alternate;
}
.load1 .arc4{
	background:rgba(201,172,205,1);
	animation:load1 1s linear 0.3s infinite alternate; 
}
.load1 .arc5{
	background:rgba(250,172,205,1); 
	animation:load1 1s linear 0.4s infinite alternate;
}

@keyframes load1{
	0%{
		transform:scale(1);
	}
	50%{
		transform:scale(2);
		opacity: 0.3;
	}
	100%{
		transform:scale(1);
	}
}
